@font-face {
    font-family: 'IBM Plex Sans';
    src: url("../fonts/IBMPlexSans-Bold.ttf") format("truetype");
}

.CodeMirror {
    font-family: monospace;
    height: 300px;
    color: black;
    direction: ltr;
    font-size: 14px;
}

body { 
    background-color: #545167;
    overflow-x: hidden;
}
    
.button-center { 
    display: flex; 
    justify-content: center; 
}
    
.border { 
    height: 53px; 
    border-style: hidden; 
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}
 
select { 
    font-family: 'IBM Plex Sans', 'sans-serif'; 
    height: 48px; 
    width: 125px; 
}
    
.mode { 
    height: 48px; 
    width: 135px; 
}
  
.button-center-shortcut { 
    display: flex; 
    justify-content: center; 
}
  
.border-shorcut {
     height: 53px; 
     border-style: hidden; 
     -webkit-user-select: none; 
     user-select: none; 
     -webkit-app-region: drag; 
}
  
summary { 
    font-family: 'IBM Plex Sans', 'sans-serif'; 
}
  
.shortcut-k { 
    text-align: left; 
}

.file {
    background-image: url('../src/img/file-open.png');
    background-repeat: no-repeat;
}

#file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

#terminal {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

::-webkit-scrollbar {
    opacity: 0;
    width: 0;
    display: none;
    background-color: transparent;
}

button {
    background-color: rgb(199, 197, 197);
}

select {
    background-color: rgb(199, 197, 197);
}

/*
#hideshowpreview {
    display: none;
}

#hideshowbutton {
    display: none;
}
*/

#preview {
    background-color: #BDBDBD;
    opacity: 1;
    border: 0;
    width: 50%;
    display: none;
    pointer-events: none;
}

/*
.xterm-screen {
    display: block;
}
*/

.shortcut-inf {
    color: rgb(0, 17, 255);
}

*:focus {
    outline: none;
}